<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detected</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Detected</a>
<!--            </div>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/suspect">Suspect</a>

    </div>
  </div>
            </div>
        </nav>
 <div class="container">

    <div style='display: flex; justify-content: flex-start; flex-wrap: wrap; '>
     {% for detected in detected_data %}
        <div style="padding-left : 20px;">
        <div class="card" style="margin: 1em 0; padding: 1em 0 0 0; align-items: baseline;">
<figure>
        <img src="/detected_send_image/{{detected['id']}}" width='auto' height='200' style='margin: 0.5em 0; padding-right : 30px; padding-left : 13px' />

            <img src="/send_image/{{detected['image_id']}}" width='auto' height='200' style='margin: 0.5em 0; padding-right : 30px' />
    <figcaption  >
    <div class="container" >
        <div class="column"  >
            <p>
              <code>  {{detected['name']}}</code>
            </p>
            <p>
            <code>
                {{detected['time']}}</code>
            </p>
            <div class="column" style="word-wrap: break-word; width: 80%; " >
            <p>

             <code>{{detected['camera_id']}}</code>


            </p>
                </div>

            <a class="btn btn-info" href="/delete_detected/{{detected['id']}}" role="button">Delete</a>
        </div>
    </div>
 </figcaption>
</figure>
        </div>
        </div>
        {% endfor %}

    </div>
     </div>


<script>

</script>

</body>
</html>